@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  background-color: #f2f2f2;
  min-width: 1280px;
}

.page-container {
  background-color: #ffffff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 1200px;
}

.page-header {
  min-height: 64px;
  padding: 0 70px;
}

.logo {
  margin-right: 30px;
  display: block;
  margin-bottom: -6px;
  position: relative;
  z-index: 2;
}

.logo:hover {
  opacity: 0.7;
}

.logo:active {
  opacity: 0.5;
}

.navigation {
  display: flex;
  height: 64px;
  margin: 0 auto;
}

.menu {
  margin: 0;
  padding: 0;
  min-width: 339px;
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
}

.menu-item {
  display: block;
  list-style: none;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
}

.navigation-link {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  display: flex;
  align-items: center;
  min-height: 62px;
}

.navigation-link:hover {
  opacity: 0.7;
}

.navigation-link:active {
  opacity: 0.3;
}

.nav-link-current::before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 16px;
  right: 16px;
  height: 2px;
  background-color: #756257;
}

.user-menu {
  min-width: 268px;
  display: flex;
}

.user-menu-item {
  display: block;
  width: 44px;
  height: 64px;

}

.user-menu-link {
  position: relative;
  display: block;
  width: 44px;
  height: 64px;
  margin: auto;
  margin-right: auto;
  align-items: center;
}

.user-menu-link:hover {
  opacity: 0.7;
}

.user-menu-link:active {
  opacity: 0.3;
}

.search-link {
  background-image: url("../images/icons/search.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.favorites-link {
  background-image: url("../images/icons/favorit.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.favorites-link {
  text-decoration: none;
}

.favorites-basket {
  position: relative
}

.favorites-basket-item {
  color: #ffffff;
  line-height: 10px;
  font-weight: 400;
  font-size: 10px;
  text-align: center;
  display: block;
  box-sizing: border-box;
  padding-top: 5px;
  min-width: 20px;
  height: 20px;
  background-color: #7db54f;
  border-radius: 10px;
  position: absolute;
  top: 11px;
  left: 20px;
}

.main-container {
  flex-grow: 1;
}

.hero {
  max-width: 1200px;
  margin-bottom: 21px;
}

.hero-mountains {
  background-image: url("../images/index-background-mask.svg"), url("../images/index-background.jpg");
  background-size: 100% 57px, cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  min-height: 485px;
  padding-top: 51px;
}

.hero-logo {
  display: block;

  margin-left: auto;
  margin-right: auto;
}

.hero-text {
  padding: 69px 0;
}

.title-bold {
  color: #000000;
  line-height: 36px;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.title-hero {
  margin-bottom: 25px;
}

.subtitle {
  color: #333333;
  line-height: 26px;
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  margin: 0;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
}

.advantages-field {
  width: 400px;
  min-height: 385px;
}

.advantages-text {
  width: 230px;
  min-height: 160px;
  margin-left: 85px;
  margin-right: 85px;
  margin-top: 103px;
  margin-bottom: 103px;

}

.advantages-title {
  color: #000000;
  line-height: 28px;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  max-width: 175px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-bottom: 62px;
}

.title-line::after {
  position: absolute;
  content: "";
  display: block;
  height: 2px;
  background: rgba(0, 0, 0, 0.3);
  width: 60px;
  left: 58px;
  top: 86px;
}


.advantages-description {
  color: #333333;
  line-height: 21px;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  margin: 0;
}

.advantages-photo {
  display: block;
  width: 800px;
  height: 100%;
  object-fit: cover;
  margin: 0;
  padding: 0;
}

.advantages-item-color {
  background-color: #82b3d3;
  display: flex;
}


.title-line-color:after {
  background: rgba(255, 255, 255, 0.3);
}

.advantages-filling {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-filling-dark {
  background-color: rgba(131, 179, 211, 0.2);
}

.description {
  color: #000000;
  line-height: 21px;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}

.service-container-title {
  padding-top: 64px;
  padding-bottom: 64px;
}

.service-title {
  max-width: 505px;
  margin-left: auto;
  margin-right: auto;
}

.service-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.service-list-item {
  box-sizing: border-box;
  list-style: none;
  width: 400px;
  min-height: 385px;
  padding: 80px 85px 80px 85px;
  display: block;
  background-repeat: no-repeat;
  background-position: center top 80px;
}

.list-title {
  margin-top: 105px;
  margin-bottom: 30px;
}

.service-color {
  background-color: rgba(131, 179, 211, 0.12);
}

.service-description {
  color: #333333;
}

.service-housing {
  background-image: url("../images/icons/home.svg");

}

.service-food {
  background-image: url("../images/icons/food.svg");
}

.service-souvenir {
  background-image: url("../images/icons/gift.svg");
}

.searching {
  padding: 96px 304px;
}

.searching-subtitle {
  margin-bottom: 54px;
}

.subscribe {
  padding: 96px 258px 104px 258px;
}

.main-subscribe {
  background-image: url("../images/subscribe-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-color: #747d8e;
}

.subscribe-form {
  display: flex;
}

.subscribe-container {
  min-height: 215px;
  min-width: 684px;
}

.subscribe-e-mail-field {
  font-family: "PT Sans", sans-serif;
  line-height: 24px;
  font-weight: 400;
  font-size: 18px;
  border: none;
  border-radius: 4px 0 0 4px;

}

.button {
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  color: #FFFFFF;
  line-height: 20px;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  border-radius: 4px;
  border: none;
  padding: 8px 50px;
  display: inline-block;
  cursor: pointer;
}

.button-want {
  max-width: 160px;
  min-height: 36px;
  padding: 8px 34px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 20px;
}

.button-find {
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  line-height: 36px;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  border-radius: 4px;
  border: none;
  min-height: 52px;
  max-width: 376px;
  padding: 8px 50px;
  margin-left: 108px;
  margin-right: 108px;
  cursor: pointer;
}

.button-subscribe {
  line-height: 36px;
  font-size: 20px;
  border-radius: 0 4px 4px 0;
  min-height: 52px;
  max-width: 232px;
}

.button-brown {
  background-color: #756157;
}

.button-brown:hover {
  background-color: #615048;
}

.button-brown:focus {
  background-color: #615048;
}

.button-brown:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button-brown:disabled {
  background-color: #E5E5E5;
  color: #FFFFFF;
}

.button-blue {
  background-color: #82b3d3;
}

.button-blue:hover {
  background-color: #68a2ca;
}

.button-blue:focus {
  background-color: #68a2ca;
}

.button-blue:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82b3d3;
}

.button-blue:disabled {
  background-color: #E5E5E5;
  color: #FFFFFF;
}

.button-green {
  background-color: #7db54f;
}

.button-green:hover {
  background-color: #6C9E42;
}

.button-green:focus {
  background-color: #6C9E42;
}

.button-green:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #7db54f;
}

.button-green:disabled {
  background-color: #E5E5E5;
  color: #FFFFFF;
}

.subscribe-title {
  color: #ffffff;
}

.subscribe-text {
  color: #ffffff;
}

.subscribe-e-mail-field {
  background-color: #f2f2f2;
  min-height: 28px;
  width: 452px;
  padding: 12px 20px;
}

.footer {
  padding: 40px 70px 30px;
}

.footet-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1060px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.contact-social {
  width: 144px;
  height: 40px;
  margin-left: 0;
}

.social {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  height: 100%;
}

.social-item {
  width: 100%;
  height: 100%;
  list-style: none;
  position: relative;
}

.social-link {
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  width: 24px;
  height: 40px;
  position: relative;
}

.social-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #83b3d3;
}

.social-icon:hover {
  fill: #68a2ca;
}

.social-icon:focus {
  fill: #68a2ca;
}

.social-icon:active {
  fill: rgba(104, 162, 202, 0.3);
}


.contact-phone {
  width: 720px;
  text-align: center;
}

.phone:hover {
  color: #756157;
}

.phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.contact-logo {
  width: 115px;
  margin-right: 0;
  align-items: center;
}

.logo-footer {
  fill: #000000;
}

.logo-footer:hover {
  fill: rgba(117, 97, 87, 1);
}

.logo-footer:focus {
  fill: #756157;
}

.logo-footer:active {
  fill: rgba(117, 97, 87, 0.3);
}

.footer-logo-link {
  display: flex;
}

.filter-background {
  background-image: url("../images/catalog-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  color: #ffffff;
  background-color: #747d8e;
  padding: 35px 70px 70px;
}

.inner-header-title {
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 78px;
  margin: 0;
  margin-bottom: 8px;
}

.breadcrumbs-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 40px;
  margin-right: auto;
}

.breadcrumbs-item:not(.breadcrumbs-item:first-child) {
  background-image: url("../images/icons/breadcrumbs-arrow.svg");
  background-position: 10px;
  background-repeat: no-repeat;
  padding-left: 25px;
}

.breadcrumbs-link {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  cursor: pointer;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:focus {
  color: #ffffff;
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link-main:hover {
  opacity: 0.6;
}

.breadcrumbs-link-main:focus {
  color: #ffffff;
}

.breadcrumbs-link-main:active {
  opacity: 0.3;
}

.breadcrumbs-link-main {
  display: block;
  background-image: url("../images/icons/breadcrumbs-home.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 13px;
  height: 21px;
}

.breadcrumbs-main {
  width: 13px;
  height: 21px;
}

.filter-form {
  font-family: "PT Sans", sans-serif;
  display: flex;
}

.filter-item {
  padding: 0;
  margin: 0;
}

.filter-infrastructure {
  margin-right: 70px;
}

.infrastructure-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-checkbox {
  cursor: pointer;
}

.filter-list-item {
  margin-top: 16px;
}

.filter-housing {
  min-width: 150px;
}

.housing-type-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-legend {
  margin-bottom: 16px;
}

.filter-price {
  margin-left: auto;
  margin-right: 70px;
}

.filter-block {
  border: none;
}

.filter-legend {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.filter-label {
  line-height: 23px;
  cursor: pointer;
}

.price-item {
  display: flex;
  margin-top: 16px;
  gap: 2px;
}

.price {
  color: #000000;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  padding: 12px 20px;
  width: 103px;
  min-height: 24px;
  border: none;
  appearance: none;
}

.price::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.price-left {
  border-radius: 4px 0 0 4px;
}

.price-right {
  border-radius: 0 4px 4px 0;
}

.price-interval {
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
  position: absolute;
  margin-top: 12px;
  margin-left: -40px;
}

.filter-buttons {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-top: 56px;
  position: relative;
}

.button-accept {
  color: #ffffff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: #82b3d3;
  width: 191px;
  min-height: 36px;
  margin-bottom: 32px;
}

.button-reset {
  font-family: "PT Sans", sans-serif;
  color: #ffffff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  background-color: transparent;
  padding: 5px;
  border: none;
  width: 191px;
  min-height: 36px;
  cursor: pointer;
  position: absolute;
  bottom: 0;
}

.button-reset:hover {
  opacity: 60%;
}

.button-reset:focus {
  border: solid 3px #83B3D3;
  border-radius: 4px;
}

.button-reset:active {
  color: rgba(255, 255, 255, 0.3);
}


.hotels-find {
  padding: 50px 70px 60px 70px;
}

.filter-results {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.view-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 8px;
  grid-template-columns: 48px 48px 48px;
  grid-template-rows: 48px;
  align-self: flex-start;
}

.button-view {
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
  background-color: #ffffff;
  border: solid 2px;
  border-radius: 4px;
  border-color: #e5e5e5;
  background-position: center;
  cursor: pointer;
}

.button-view:hover {
  border-color: #000;
}

.button-view:focus {
  border-color: #68a2ca;
}

.button-view:active {
  border-color: #000;
}

.view-active {
  border-color: #000;
}


.button-split {
  background-image: url("../images/icons/split-icon.svg");
}

.button-slide {
  background-image: url("../images/icons/slide-icon.svg");
}

.button-list {
  background-image: url("../images/icons/list-icon.svg");
}

.hotels-find-quantity {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  text-transform: uppercase;
  margin: 0;
}

.select-control {
  font-family: "PT Sans", sans-serif;
  color: #333333;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  border-radius: 4px;
  border: 2px solid var(--forms-elements-1, #e5e5e5);
  width: 292px;
  padding: 12px 18px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
}

.select-control-container {
  margin-left: auto;
  margin-right: 70px;
  position: relative;
}

.select-control-container::after {
  content: "";
  position: absolute;
  right: 20px;
  top: 21px;
  width: 12px;
  height: 8px;
  background-image: url("../images/icons/arrow.svg");
  cursor: pointer;
}

.hotels-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #e6e6e6;

}

.hotels-list-item {
  box-sizing: border-box;
  padding: 20px;
  width: 340px;
  height: 438px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.img-slide {
  display: block;
  margin-bottom: 16px;
}

.img-slide:hover {
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.img-slide:active {
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px rgba(130, 179, 211, 0.7);
}

.hotels-list-name {
  margin: 0;
  margin-bottom: 16px;
}

.hotels-name {
  color: #000000;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  text-decoration: none;
}

.hotels-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  gap: 20px;
}

.hotels-list-type {
  color: #333;
  text-align: left;
  margin: 0;
}

.hotels-list-price {
  color: #333;
  text-align: right;
  margin: 0;
}


.button-hotels {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  width: 100%;
  min-height: 36px;
  padding: 8px;
}

.hotels-item-link {
  text-decoration: none;
  min-height: 20px;
}

.favorites-added {
  background-color: #7DB54F;
}

.rating {
  color: #333333;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border-radius: 4px;
  text-align: center;
  display: block;
  box-sizing: border-box;
  vertical-align: middle;
  width: 140px;
  min-height: 37px;
  margin: 0;
  padding-top: 9px;
  padding-bottom: 8px;
  padding-left: 23px;
  padding-right: 22px;
}

.stars {
  background-image: url("../images/icons/star.svg");
  width: 18px;
  height: 17px;
  background-repeat: space;
  margin-right: 6px;
}

.stars-one {
  width: 18px;
}

.stars-two {
  width: 42px;
}

.stars-three {
  width: 66px;
}

.stars-four {
  width: 89px;
}

.stars-five {
  width: 105px;
}

.pagination {
  display: grid;
  grid-template-columns: 60px 60px 60px 60px 60px 60px;
  grid-template-rows: 60px;
  gap: 8px;
  margin: 0;
  padding: 0;
}

.pagination-item {
  display: inline-block;
  padding: 0;
}

a.pagiantion-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-link {
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-decoration: none;
  text-align: center;
  display: block;
  padding-top: 12px;
  padding-bottom: 0;
  background-color: #82b3d3;
  width: 60px;
  min-height: 48px;
  border-radius: 4px;
}


.pagination-link:not(.pagiantion-current):not(.pagiantion-space):active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-link:not(.pagiantion-current):not(.pagiantion-space):hover {
  background-color: #68a2ca;
}

.pagiantion-space {
  color: #000;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  background-color: #ffffff;
  box-sizing: border-box;
  padding-top: 16px;
  padding-bottom: 18px;
}

.subscribe-title-catalog {
  color: #000;
}

.subscribe-title-catalog p {
  color: #333;
}

.subtitle-catalog {
  color: #333;
}

.phone {
  color: #000000;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
}

.text-white {
  color: #ffffff;
}

.modal-container {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

/*
.modal-container-close {
  display: none;
}
*/

.search-form {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  row-gap: 48px;
}

.searcg-form-field {
  grid-column-start: 2;
}

.field-group {
  display: grid;
  grid-template-columns: 135px 440px;
  min-height: 96px;
}

.searcg-form-field {
  height: auto;
  padding: 12px 20px;
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background-color: #ffffff;
  width: 717px;
  border-radius: 30px;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  background-color: #f2f2f2;
  border-radius: 50%;
  border: none;
  background-image: url("../images/icons/cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:active {
  background-color: #e6e6e6;
  opacity: 0.3;
}

.modal-title {
  margin: 0;
  margin-bottom: 64px;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  padding-right: 30px;
}

.modal-information {
  width: 26px;
  height: 26px;
  background-color: #83b3d3;
  border-radius: 50%;
  border: none;
}

.modal-information-button {
  display: flex;
  margin: auto;
}

.modal-find-button {
  width: 577px;
  display: block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #83B3D3;
  border-radius: 10px;
  padding: 18px;
}

.modal-find-button:hover {
  background-color: #68a2ca;
}

.modal-find-button:focus {
  background-color: #68a2ca;
}

.modal-find-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82b3d3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
